movie-pay {
    background: #fff;
    .moviepay_scroll {
        height: 370px;
        ul {
            padding-left: 10px;
            width: 2000px;
            li {
                width: 270px;
                margin-right: 20px;
                float: left;
            }
        }
    }
}