<ion-header [hidden]="true">
    <ion-navbar>
        <ion-title>{{detail_data.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true" (ionScroll)="scrollHandler($event)">
    <!--<a class="to-toc" href="#toc">top</a>-->
    <!--电影名称-->
    <div class="nose_cell toppic bbe pl10 pr10">
        <div class="pct50 imgbox pr10">
            <img [src]='detail_data.titlePage' width="100%" alt="">
        </div>
        <div class="nose_cell_item">
            <h6 class="mt0">{{detail_data.title || '暂无'}}</h6>
            <div class="g9">{{detail_data.introduction | slice:0:40}}...</div>
            <div class="t_r mt5 g9" (click)='GotoDal(detail_data.id)'>查看更多></div>
        </div>
    </div>
    <div class="moviepay_dirver"></div>
    <div class="titlebox1">溯源信息</div>
    <!--<div padding-left padding-right class="titlebox2 bbe" eleselect (click)="myUnless()">-->
    <div style="height:50px;">
        <div padding-left padding-right class="toStitlebox bbe" id="titlebox2">
            <ion-segment [(ngModel)]="pet" (ionChange)="segmentChanged(pet)">
                <ion-segment-button value="li1">销售</ion-segment-button>
                <ion-segment-button value="li2">运输</ion-segment-button>
                <ion-segment-button value="li3">加工</ion-segment-button>
                <ion-segment-button value="li4">生产</ion-segment-button>
            </ion-segment>
        </div>
    </div>
    <div class="process_liu green">
        <!--<ul *ngFor="let item of detail_data.traceDetail" [ngSwitch]="item.step">
            <li style="height:0" id="li1"></li>
            <li *ngSwitchCase="'sale'" [class]="item.key==1? 'start':''">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
            <li style="height:0" id="li2"></li>
            <li *ngSwitchCase="'transport'">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
            <li style="height:0" id="li3"></li>
            <li *ngSwitchCase="'factory'">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
            <li style="height:0" id="li4"></li>
            <li *ngSwitchCase="'production'">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
        </ul>-->
        <div style="height:0" id="li1"></div>
        <ul *ngFor="let item of detail_data.traceDetail">
            <li *ngIf="(item.step=='sale')" [class]="item.key==1? 'start':''">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
        </ul>
        <div style="height:0" id="li2"></div>
        <ul *ngFor="let item of detail_data.traceDetail">
            <li *ngIf="(item.step=='transport')" [class]="item.key==1? 'start':''">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
        </ul>
        <div style="height:0" id="li3"></div>
        <ul *ngFor="let item of detail_data.traceDetail">
            <li *ngIf="(item.step=='factory')" [class]="item.key==1? 'start':''">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
        </ul>
        <div style="height:0" id="li4"></div>
        <ul *ngFor="let item of detail_data.traceDetail">
            <li *ngIf="(item.step=='production')" [class]="item.key==1? 'start':''">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
        </ul>

        <!--<li *ngFor="let item of detail_data.traceDetail" *ngIf="item.step=='transport'">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
            <li *ngFor="let item of detail_data.traceDetail" *ngIf="item.step=='factory'">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
            <li *ngFor="let item of detail_data.traceDetail" *ngIf="item.step=='production'">
                <span class="sign01"></span>
                <div>{{item.title}}</div>
                <div class="mt8">{{item.operateDate | date:"y-MM-dd mm:ss"}}</div>
            </li>
            -->
    </div>
    <div class="p10">
        <div [innerHTML]="detail_data.originPlace"></div>
        <!--<img src="assets/images/pic_s5.jpg" width="100%" alt="">-->
    </div>

    <div class="h50"></div>
</ion-content>
<ion-footer>
    <!--<ion-toolbar color="danger">
        <ion-title>立即购买</ion-title>
    </ion-toolbar>-->
    <button ion-button full color="danger" (click)="GoProductDal()">立即购买</button>

    <!--<div class="moviepay_bpay bdnone">
        <button ion-button full color="danger">立即购买</button>
    </div>-->
</ion-footer>