page-hotel-order {
    .ruzhuxinxi{
        text-align: left;margin:10px 0;position: relative;
        span{
            position: absolute;left: 35%
        }
    
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
        border-style: solid;
        border-color: transparent;
    }
    .item-md {
        padding-left: 0;
        padding-right: 0;
    }
    .orders-detail-info {
        padding: 0 16px 10px;
        .order-price {
            color: #333;
        }
        .item-ios {
            padding-left: 0;
            padding-right: 0;
        }
        .list-ios {
            margin-bottom: 0;
        }
        .list-ios>.item-block:last-child {
            border-bottom: 0.55px solid #ddd;
        }
        .item-ios.item-block .item-inner,
        .item-md.item-block .item-inner {
            padding-right: 0;
        }
        .merit {
            padding-top: 10px;
            span {
                width: auto;
                padding-right: 15px;
                text-align: left;
                display: inline-block;
                font-size: 14px;
                i {
                    font-size: 16px;
                }
            }
        }
    }
    .h_style {
        position: relative;
        font-size: 1.5rem;
        padding-left: 15px;
        i {
            position: absolute;
            left: -9px;
            font-weight: 700;
            font-size: 1.9rem;
            top: -2px;
        }
        em i {
            position: inherit;
            font-size: 20px;
            font-weight: 500;
        }
    }
    .coupons-code {
        .h_style {
            position: relative;
            padding-left: 0;
            i {
                position: absolute;
                left: -24px;
                font-weight: 700;
                font-size: 1.9rem;
                top: 0;
            }
            button {
                padding: 0 0 0 15px;
                height: auto;
            }
        }
        .erweima {
            width: 150px;
            height: 150px;
            padding: 10px;
            border: solid 1px #000;
            margin: 0 auto;
        }
        .code {
            border-top: solid 1px #ddd;
            margin-top: 10px;
        }
    }
    .business-msg {
        .h_style {
            padding-left: 0;
            i {
                left: -24px;
                font-weight: 700;
            }
        }
        h4 {
            margin-bottom: 5px;
        }
        .icon-dingwei1 {
            margin-right: 0;
            font-weight: 700;
        }
    }
    .pro-con {
        .pro-con-li {
            padding: 0 16px 16px;
        }
    }
    .order-info {
        padding-bottom: 44px;
        .order-info-list {
            padding: 0 16px;
        }
        .item-ios {
            padding-left: 0;
            font-size: 1.4rem;
        }
        .item-ios.item-block .item-inner {
            padding-right: 0;
        }
        .item-inner ion-label {
            margin-top: 0;
            margin-bottom: 0;
        }
        .item-inner ion-label:last-child {
            margin-right: 0;
            text-align: right;
        }
        .item-ios.item-block .item-inner {
            border-bottom-color: #ddd;
        }
    }
    .tab_footer {
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 44px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        .toolbar-background-ios {
            background-color: transparent;
        }
        button {
            border-radius: 0;
            margin: 0;
        }
    }
    .toolbar-ios {
        padding: 0;
        min-height: 44px;
    }
}


