page-img-details {
  .title-img{width:100%;height:auto;}
  .name{font-size: 16px;color:#000;font-weight: bold;margin:15px auto 0;width:90%;}
  .text{width:90%;margin:10px auto 0;color:#666;font-size: 14px;line-height: 20px;}
  .text p{text-indent: 2em;margin-top:10px;}
  .text p strong{margin-left:-2em;}
  .text img{width:100%;height:auto;margin-top:10px;margin-bottom:10px;}
  .text p img{margin-left:-2em;}
}
